@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
    font: 100% Roboto, sans-serif;
    background: url(http://wallpapercave.com/wp/aZlqiAT.png);
    background-size: cover;
    margin: 0;
}